Repository goerli/go-ethereum-aura, pull requests merged in 2018-09, with the labels that each got.

#6 core/vm: Hide read only flag from Interpreter interface (#17461)
  core/vm/evm.go
  core/vm/interpreter.go
  eth/tracers/tracer_test.go
Labels: A0-pleasereview 🤓, A8-backport 🕸, M4-core ⛓

#10 Configuring Aura config, genesis, bytecodes
  .gitignore
  cmd/geth/consolecmd.go
  cmd/utils/flags.go
  core/genesis.go
  core/genesis_alloc.go
  go.mod
  go.sum
  params/bootnodes.go
  params/config.go
Labels: A0-pleasereview 🤓, M2-config 📂

#11 Added difficulty retrival from Aura config
  consensus/aura/aura.go
  params/config.go
Labels: A0-pleasereview 🤓, M2-config 📂, M4-core ⛓

#18 Elizabeth/aura
  consensus/aura/aura.go
  params/config.go
Labels: A0-pleasereview 🤓, M2-config 📂, M4-core ⛓

#25 Fix Goerli Params and Genesis
  cmd/utils/flags.go
  core/genesis.go
  core/genesis_alloc.go
  mobile/params.go
  params/config.go
Labels: A0-pleasereview 🤓, M2-config 📂, M4-core ⛓
